.App{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 85% 1fr;
    grid-template-areas:  "head head" 
                    "content content"
                    "Footer  Footer" ;
}

.App .Header{
    background-color: #08F;
    grid-area: head;
}

.App .Content{
    background-image: radial-gradient( circle 987px at 99% 2%,  rgba(22,183,229,1) 0%, rgba(9,54,103,1) 90% );    grid-area: content;
}

.App .Footer{
    background-color: #50F;
    grid-area: Footer;
}